@{
    ViewData["Title"] = "Login";
}

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 4px;
        }

        button {
            background-color: #4CAF50;
            color: #fff;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Login</h1>
        <form asp-controller="Home" asp-action="Login" method="post">
            <label for="Email">Email</label>
            <input type="text" id="Email" name="Email" placeholder="Enter Email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter password" required>

            <button type="submit">Login</button>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            }
        </form>
    </div>
</body>
